@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Lalezar&&family=Vazirmatn:wght@100..900&display=swap");

// Baloo Bhaijaan 2
// Lalezar
// Vazirmatn

// $green: #219150;
$green: #13a40b;
$black: #10221b;
$white: #fff;
$light-bg: #eee;
$border: 0.1rem solid $black;
$border-radius: 0.5rem;
$box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);

@mixin grid($value) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($value, 1fr));
  gap: 1.5rem;
}

* {
  font-family: "Vazirmatn", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: $black;
}

html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    background: $black;
  }
  &::-webkit-scrollbar-thumb {
    background: $green;
  }
}

section {
  padding: 5rem 4%;
}

.heading {
  text-align: center;
  margin: 2rem auto;
  font-size: 2.5rem;
  color: $green;
  font-family: "Baloo Bhaijaan 2";
  font-weight: bolder;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(16, 34, 27, 0.29);
}

.btn-1 {
  margin-top: 1rem;
  display: inline-block;
  border: 0.1rem solid #ffffff88;
  color: $white;
  cursor: pointer;
  background: $black;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  font-weight: 700;
  border-radius: $border-radius;
  &:hover {
    background: $white;
    color: $black;
    border: $border;
  }
}

.btn-2 {
  display: inline-block;
  color: $black;
  border: $border;
  cursor: pointer;
  background: $white;
  font-size: 1rem;
  padding: 0.4rem 2rem;
  font-weight: 700;
  border-radius: 0.3rem;

  &:hover {
    background: $black;
    color: $white;
    border: 0.1rem solid $black;
  }
}

//  ==================== Header
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding: 0 4rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    background: $white;
    box-shadow: $box-shadow;
  }

  .logo {
    margin-right: auto;
    display: flex;
    align-items: flex-end;
    font-size: 2rem;

    img {
      width: 50px;
      height: 50px;
    }

    .logo-name {
      p {
        font-family: "Lalezar";
        color: $green;
        line-height: 0.7;
        text-shadow: 1px 1px 2px $black;

        &:first-child {
          font-size: 1.5rem;
          color: $black;
          text-shadow: none;
        }
      }
    }
  }

  .navbar {
    #nav-close {
      font-size: 3rem;
      cursor: pointer;
      color: $black;
      display: none;
    }
    a {
      margin-left: 1rem;
      font-size: 1.2rem;
      font-weight: 800;
      &:hover {
        color: $green;
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 1rem;

    div,
    a {
      font-size: 1.3rem;
      cursor: pointer;
      color: $black;

      &:hover {
        color: $green;
      }
    }

    #menu-btn {
      display: none;
    }
  }
}

//  ==================== Search-form

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: all 0.2s linear;
  transform: translateY(-110%);
  &.active {
    transform: translateY(0);
  }

  #search-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    color: $white;
    font-size: 2rem;

    &:hover {
      color: $green;
    }
  }

  form {
    width: 50rem;
    margin: 0 2rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid $white;
    display: flex;
    align-items: center;
    direction: rtl;

    input {
      width: 100%;
      font-size: 1.5rem;
      color: $white;
      text-transform: none;
      background: none;
      text-align: right;
      padding-left: 1.5rem;
      padding-right: 0.5rem;

      &::placeholder {
        color: #929292;
      }
    }

    label {
      font-size: 2.5rem;
      cursor: pointer;
      color: $white;

      &:hover {
        color: $green;
      }
    }
  }
}

//  ==================== Home
.home {
  padding: 0;
  .box {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-size: cover !important;
    background-position: center !important;
    padding: 5rem 8%;
    text-align: right;

    .content {
      width: 35rem;

      span {
        font-size: 2rem;
        font-weight: 800;
        color: $black;
        text-shadow: 1px 1px 2px $green;
      }

      h3 {
        font-size: 5rem;
        color: $green;
        font-family: "Lalezar";
        text-shadow: 2px 2px 2px $black;
      }

      p {
        line-height: 1.5;
        color: $white;
        font-size: 1.2rem;
        padding: 1rem 0;
        font-weight: 600;
        text-align: justify;
        direction: rtl;
      }
    }
  }

  .second {
    justify-content: flex-end;
    .content {
      width: 50rem;
      text-align: center;
      h3 {
        font-size: 5rem;
        font-weight: 800;
        color: $black;
        text-shadow: 1px 1px 2px $green;
      }
      span {
        font-size: 3rem;
        color: $green;
        font-family: "Lalezar";
        text-shadow: 3px 3px 3px $black;
      }
      p {
        text-align: center;
      }
    }
  }

  .third {
    .content {
      width: 50rem;
      text-align: left;

      p {
        text-align: justify;
      }
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: $white;
    font-size: 2rem;
  }
}

//  ==================== Category
.category {
  .box-container {
    @include grid(23%);

    .box {
      text-align: center;
      padding: 2rem 0;

      img {
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.5rem;
        color: $green;
      }

      p {
        font-size: 1rem;
        color: $black;
        padding: 1rem 0;
        line-height: 1.3;
      }
    }
  }
}

//  ==================== about
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background: $light-bg;
  padding: 3rem 4%;

  .image {
    flex: 1 1 25rem;
    padding-right: 2rem;
    padding-bottom: 3rem;

    img {
      width: 90%;
      box-shadow: 3rem 3rem 0 rgba(0, 0, 0, 0.1);
    }
  }

  .content {
    flex: 1 1 30rem;

    .heading {
      text-align: center;
      margin: 0;
      font-size: 2.3rem;
    }

    p {
      font-size: 1.2rem;
      color: $black;
      padding: 2rem 0;
      line-height: 1.5;
      text-align: justify;
      direction: rtl;
    }
  }
}

//  ==================== Shop
.shop {
  .slide {
    width: 25rem;
    border: $border;
    border-radius: $border-radius;

    &:hover {
      box-shadow: 0rem 0.2rem 0.5rem #10221b4e;
    }

    &:hover .image .icons {
      top: 0.5rem;
    }

    .image {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $border-radius;
      }

      .icons {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        width: 100%;
        position: absolute;
        top: -10rem;
        left: 0.5rem;
        text-align: left;
        z-index: 10;

        a {
          height: 2.3rem;
          width: 2.3rem;
          line-height: 2.3rem;
          font-size: 1rem;
          text-align: center;
          background: $black;
          color: $white;
          transition: all 0.2s;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          border-radius: 0.2rem;

          &:hover {
            background: $green;
            color: $black;
          }
        }
      }
    }

    .content {
      padding: 0.5rem 0 1rem 0;
      text-align: center;

      h3 {
        font-size: 1.5rem;
        color: $black;
      }

      .price {
        font-size: 1.5rem;
        color: $green;
      }
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: $black;
    font-size: 2rem;
  }
}

//  ==================== Packages
.packages {
  background: $light-bg;

  .box-container {
    @include grid(23rem);

    .box {
      text-align: center;
      background: $white;
      border: $border;
      transition: all 0.2s;
      &:hover {
        background: $black;

        .content p,
        .content h3 {
          color: $white;
        }
        .btn-2 {
          background: $black;
          border: 0.1rem solid $white;
          color: $white;

          &:hover {
            background: $white;
            color: $black;
          }
        }
      }

      .image {
        height: 18rem;
        overflow: hidden;
        padding: 1rem;
        padding-bottom: 0;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .content {
        padding: 1rem;

        h3 {
          font-size: 1.5rem;
          color: $black;
          font-family: "Baloo Bhaijaan 2";
        }

        p {
          font-size: 1rem;
          color: $black;
          padding: 1rem 0;
          line-height: 1.2;
        }

        .price {
          font-size: 1.5rem;
          color: $green;
          padding-bottom: 1rem;
        }
      }
    }
  }
}

//  ==================== Review
.reviews {
  .review-slider {
    overflow: hidden;

    .slide {
      .text {
        padding: 2rem;
        font-size: 1.2rem;
        text-align: right;
        font-style: italic;
        background: $light-bg;
        border-radius: $border-radius;
        color: $black;
        line-height: 1.7;
        position: relative;
        z-index: 0;
        margin-bottom: 1.5rem;

        &::before {
          content: "";
          position: absolute;
          bottom: -0.75rem;
          left: 1.3rem;
          height: 1.5rem;
          width: 1.5rem;
          background: $light-bg;
          transform: rotate(45deg);
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
        }

        h3 {
          font-size: 1.2rem;
          color: $black;
        }

        span {
          font-size: 1.2rem;
          color: $green;
        }
      }
    }
  }
}

//  ==================== Services
.services {
  background: $light-bg;

  .box-container {
    @include grid(21rem);

    .box {
      text-align: center;
      padding: 1rem;
      border: $border;
      border-radius: 0.5rem;
      background: $white;
      transition: all 0.2s;
      &:hover {
        background: $black;

        img {
          filter: invert(1);
          -webkit-filter: invert(1);
        }

        p {
          color: $white;
        }

        .btn-2 {
          background: $black;
          border: 0.1rem solid $white;
          color: $white;

          &:hover {
            background: $white;
            color: $black;
          }
        }
      }

      img {
        height: 6rem;
      }

      h3 {
        font-size: 1.4rem;
        color: $green;
        padding-bottom: 1rem;
      }

      p {
        padding-bottom: 1rem;
        font-size: 1.1rem;
      }
    }
  }
}

//  ==================== Blogs
.blogs {
  .slide {
    text-align: center;
    padding: 0.8rem;
    background: $light-bg;
    height: auto;
    position: relative;

    img {
      height: 15rem;
      width: 100%;
      object-fit: cover;
      border-radius: $border-radius;
    }

    .icons {
      background: $black;
      border-radius: $border-radius;
      padding: 0.2rem 0.5rem;
      position: relative;
      top: -2rem;
      display: inline-block;
      direction: rtl;

      a {
        font-size: 1rem;
        color: $white;
        padding: 0 0.5rem;

        &:hover {
          color: $green;
        }

        i {
          padding-left: 0.3rem;
          color: $green;
        }
      }
    }

    h3 {
      font-size: 1.3rem;
      color: $black;
      line-height: 0.5;
      direction: rtl;

      span {
        font-size: 1rem;
        font-style: italic;
      }
    }

    p {
      font-size: 1rem;
      padding: 1rem 0;
      line-height: 1.4;
      color: $black;
      direction: rtl;
      text-align: justify;
      a {
        color: $green;
        font-weight: 600;
        &:hover {
          color: $black;
        }
      }
    }
  }
}

//  ==================== Media queries
@media screen and (max-width: 1200px) {
  .header {
    padding: 0 2rem;
  }
  .category {
    .box-container {
      .box {
        scale: 0.9;
      }
    }
  }

  .reviews {
    .review-slider {
      .slide {
        .text {
          padding: 1rem;
          font-size: 1.1rem;
          line-height: 1.7;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 85%;
    scroll-padding-top: 7rem;
  }

  .category {
    .box-container {
      @include grid(25rem);
      .box {
        scale: 1;
        padding: 2rem;
      }
    }
  }

  .about {
    .image {
      padding-left: 3rem;
      img {
        width: 95%;
        box-shadow: 2rem 2rem 0 rgba(0, 0, 0, 0.1);
      }
    }
    .content {
      h3 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .navbar {
      position: fixed;
      top: 0;
      left: -100%;
      background: $white;
      z-index: 10000;
      width: 25rem;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      &.active {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.3);
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
      }

      #nav-close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;

        &:hover {
          color: $green;
        }
      }

      a {
        margin: 1rem 0;
        font-size: 1.5rem;
      }
    }

    .icons {
      #menu-btn {
        display: inline-block;
      }
      div,
      a {
        font-size: 1.5rem;
      }
    }
  }

  .search-form {
    form {
      width: 70%;

      label {
        font-size: 2rem;
      }
    }
  }

  .home {
    .box {
      background-position: 80% !important;
      padding: 5rem 10%;

      &.second {
        background-position: left !important;

        .content {
          h3 {
            font-size: 4rem;
          }
          span {
            font-size: 2rem;
            text-shadow: 2px 2px 2px $black;
          }
          p {
            text-align: center;
          }
        }
      }
      &.third {
        .content {
          text-align: center;
          h3 {
            font-size: 4rem;
          }
        }
      }
    }
  }

  .category {
    .box-container {
      @include grid(18rem);
    }
  }
}

@media screen and (max-width: 576px) {
  .category {
    .box-container {
      @include grid(25rem);
      .box {
        padding: 1rem 5rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 70%;
  }

  .home {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }

  .shop {
    .slide {
      max-width: 25rem;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }
  }
}
